In [3]:
from lifelines.datasets import load_rossi

In [4]:
rossi = load_rossi()

In [6]:
rossi.head()

   week  arrest  fin  age  race  wexp  mar  paro  prio
0    20       1    0   27     1     0    0     1     3
1    17       1    0   18     1     0    0     1     8
2    25       1    0   19     0     1    0     1    13
3    52       0    1   23     1     1    1     1     1
4    52       0    0   19     0     1    0     1     3

In [7]:
from lifelines import CoxPHFitter

In [8]:
cph = CoxPHFitter()
cph.fit(rossi, duration_col="week", event_col="arrest")

In [9]:
cph.print_summary()